
/* Estilos personalizados */

/* Navbar */
.navbar {
    background-color: black;
  }
  
  .navbar-brand {
    color: white;
    font-weight: bold;
  }
  
  .navbar-nav .nav-link {
    color: white;
  }
  
  .navbar-nav .nav-link:hover {
    color: gray;
  }
  
  /* Carousel */
  .carousel-item img {
    width: 100%;
    height: auto;
  }
  
  /* Grid layout */
  .card {
    border: none;
  }
  
  .card-title {
    font-weight: bold;
  }
  
  .card-text {
    color: gray;
  }
